[user]
    name = MinesJA
    email = minesja@gmail.com

[init]
    defaultBranch = main

[core]
    editor = nvim  # or vim, nano, etc.
    autocrlf = input      # input on Mac/Linux, true on Windows

[pull]
    rebase = true

[push]
    default = simple
    autoSetupRemote = true

[branch]
    autosetupmerge = always
    autosetuprebase = always

[alias]
    st = status
    co = checkout
    br = branch
    cm = commit
    lg = log --oneline --graph --decorate

[diff]
    tool = vscode  # or your preferred diff tool

[merge]
    tool = vscode
